@model List<ResultFeatureSliderDto>
@{
    int count = 0;
}

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                    <li data-target="#header-carousel" data-slide-to="3"></li>
                    <li data-target="#header-carousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">


                    @foreach (var item in Model)
                    {
                        count++;
                        if (count == 1)
                        {
                            <div class="carousel-item position-relative active" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="@item.ImageUrl" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.Title</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">@item.Description</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Alışverişe Başla</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (count > 1)
                        {
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" src="@item.ImageUrl" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.Title</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">@item.Description</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Alışverişe Başla</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
        @await Component.InvokeAsync("_SpeacialOfferComponentPartial")

    </div>
</div>