@model List<ResultCommentDto>

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">@Model.Count yorum bulunmaktadır</h4>
            @foreach(var item in Model)
            {
                <div class="media mb-4">
                    <img src="@item.ImageUrl" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname<small> - <i>@item.CreatedDate.ToShortDateString()</i></small></h6>
                        @if (item.Rating == 1)
                        {
                            <div class="text-primary mb-2">
                                <i class="fas fa-star"></i>
                            </div>
                        }
                        @if (item.Rating == 2)
                        {
                            <div class="text-primary mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        }
                        @if (item.Rating == 3)
                        {
                            <div class="text-primary mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        }
                        @if (item.Rating == 4)
                        {
                            <div class="text-primary mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        }
                        @if (item.Rating == 5)
                        {
                            <div class="text-primary mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        }
                        <p>@item.CommentDetail</p>
                    </div>
                </div>
            }
            
        </div>
        @await Html.PartialAsync("~/Views/ProductList/AddComment.cshtml",new {id=ViewBag.x})
    </div>
</div>